.contacts {
  margin: 0 auto;
  padding: 0 20px;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  color: rgba(40, 54, 69, 1);
}

.contacts__title--large {
  font-weight: light;
  font-size: 24px;
}

.contacts__telephone {
  font-weight: light;
  font-size: 24px;
  color: rgba(210, 40, 86, 1);
}

.contacts__email {
  font-weight: light;
  font-size: 24px;
  color: rgba(210, 40, 86, 1);
}

.contacts__address {
  font-weight: light;
  font-style: normal;
  font-size: 24px;
  color: rgba(210, 40, 86, 1);
}
