.form {
  margin: 0 auto;
  margin-top: -220px;
  padding: 0 20px;

  font-size: 14px;
  line-height: 24px;
  background-color: rgba(255, 255, 255, 1);
}

.form__text {
  padding-top: 50px;
  margin-bottom: 55px;

  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: rgba(40, 54, 69, 1);
}

.form__label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: rgba(210, 40, 86, 1);
  text-transform: uppercase;
}

.form__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(210, 40, 86, 1);
  text-transform: uppercase;
}

.form__checkbox-wrapper {
  background-color: rgba(242, 242, 242, 1);
}

.form__label--text {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(40, 54, 69, 1);
}

.form__radio-wrapper {
  background-color: rgba(242, 242, 242, 1);
}

.form__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__description--red {
  color: rgba(210, 40, 86, 1);
}
