.page-main {
  margin: 0 auto;

  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-main__title {
  margin-bottom: 200px;
  padding: 100px;

  font-weight: 300;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}
