.page-header {
  margin: 0 auto;
  padding: 20px 20px;

  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  font-style: normal;


  background-color: rgba(40, 54, 69, 1);
  color: rgba(255, 255, 255, 1);
}
