.photo {
  margin-top: -220px;

  font-size: 14px;
  line-height: 24px;
  background-color: rgba(255, 255, 255, 1);
}

.photo__text {
  padding-top: 50px;
  margin-bottom: 55px;

  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: rgba(40, 54, 69, 1);
}

.photo__wrapper {
  background-color: rgba(242, 242, 242, 1);
}

.photo__author-name {
  font-weight: bold;
  font-style: normal;
}
