.reviews {
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 20px;

  font-size: 14px;
  line-height: 30px;
}

.reviews__author-name {
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}


.reviews__text {
  color: rgba(40, 54, 69, 1);
}
