.tariff__list {
  background-color: rgba(255, 255, 255, 1);
}

.tariff__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
}

.tariff__cost {
  font-weight: light;
  font-size: 24px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
}

.tariff__item {
  font-weight: regular;
  font-size: 14px;
  line-height: 30px;
  color: rgba(40, 54, 69, 1);
}
