.upload {
  margin-bottom: 40px;
  padding: 0 20px;
}

.upload__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: rgba(40, 54, 69, 1);
}

.upload__form {
  background-color: rgba(242, 242, 242, 1);
}
